.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2Title {
    text-align: center;
}

.section {
    margin: 10px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 70%;
}

.highlight {
    background-color: aqua;
}